.courses {
    position: relative;
  }
  
.courses::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    width: 2px; /* Adjust thickness as needed */
    background-color: #b19b37; /* Replace with your desired colors */
    transform: translateX(-10%);
}

.border{
    border: none;
    border-top: 3px dashed #b19b37;
    margin-left: 20%;
    margin-right: 20%;
}